@model ToDo.Models.Board.ChangeEntityModel

<form method="post" asp-controller="Board" asp-action="ChangeColumnName">
    <textarea spellcheck="false" draggable="false" class="text-center column-header" asp-for="Value"></textarea>
    @Html.HiddenFor(model => model.EntityId)
    @Html.HiddenFor(model => model.BoardId)
</form>