@model ToDo.Models.Board.CreateBoardModel



<a class="text-dark" asp-controller="Board" asp-action="CreateBoard">
    <div class="container">
        <button class="btn btn-primary">+</button>
    </div>
</a>
