@model ToDo.Models.CreateEntity.CreateRecordModel

<div class="btn-create-record">
    <form method="post" asp-controller="Board" asp-action="CreateRecord">
        <div class="form-group input-group btn-create-margin">
            <textarea spellcheck="false" class="input-group-prepend form-control area-create-record" asp-for="Value" placeholder="Record">
            </textarea>
            <span class="invalid-feedback" asp-validation-for="Value"></span>
            @Html.HiddenFor(model => model.BoardId)
            @Html.HiddenFor(model => model.ColumnId)
        </div>
        <button class="btn btn-block" style="padding: 0">+</button>
    </form>
</div>