@model ToDo.Models.CreateEntity.CreateBoardModel

<form method="post" asp-controller="Board" asp-action="CreateBoard">
    <div class="form-group input-group">
        <textarea spellcheck="false" class="form-control" asp-for="Name" placeholder="Board name">
        </textarea>
        <span class="invalid-feedback" asp-validation-for="Name"></span>
        <button class="btn btn-primary">+</button>
    </div>
</form>