@model ToDo.Models.Board.MoveRecord

<form method="post" asp-controller="Board" asp-action="MoveRecord">
    <div class="form-group input-group">
        @Html.HiddenFor(x => x.BoardId)
        @Html.HiddenFor(x => x.RecordId)
        @* <button class="btn btn-primary"> *@
        @*     -> *@
        @* </button> *@
    </div>
</form>