@model ToDo.Models.RemoveEntity.RemoveBoardModel

<form method="post" asp-controller="Board" asp-action="RemoveBoard">
    @Html.HiddenFor(x => x.BoardId)
    <button class="btn btn-secondary">-</button>
</form>