@using ToDo.Models.CreateEntity
@using ToDo.Models.RemoveEntity
@model ToDo.Models.Board.AllBoardsModel
@{
    ViewData["Title"] = "Boards";
}

<!DOCTYPE html>

<html>
<head>

    <div class="container main-container">
        <div class="row">
            @foreach (var board in Model.Boards)
            {
                <div class="col-sm-3 board">
                    <a asp-controller="Board" asp-action="Board" asp-route-id="@board.Id">
                        <div class="board-container text-center d-flex">
                            <div class="flex-grow-1 board-name unselectable">
                                @board.Name
                            </div>

                            @{ Html.RenderPartial("_RemoveBoardPartial", new RemoveBoardModel {BoardId = board.Id}); }

                        </div>
                    </a>
                </div>
            }
            <div class="col-sm-3">
                @{ Html.RenderPartial("_CreateBoardPartial", new CreateBoardModel()); }
            </div>
        </div>
    </div>

</head>
<body>
<div>

</div>
</body>
<script src="~/js/plugin-autoresize.js"></script>
</html>