@using ToDo.Entities
@using ToDo.Models.Board
@using ToDo.Models.CreateEntity
@using ToDo.Models.RemoveEntity
@model ToDo.Models.Board.BoardModel
@{
    ViewData["Title"] = "Board";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body style="background-image: url(@Context.Request.Scheme://@Context.Request.Host/@Model.BackgroundPath); background-attachment: fixed">
<div class="text-center unselectable">
    <h2>@Model.Name</h2>
    <hr>

</div>

<div class="">
    <div class="row main-container">
        @foreach (var column in Model.Columns)
        {
            <div class="col-sm-3 column-margin">
                <div class="column-col">

                    <div class="d-flex flex-row">
                        @{ await Html.RenderPartialAsync("_ChangeColumnPartial",
                                                         new ChangeEntityModel
                                                         {
                                                             EntityId = column.Id,
                                                             BoardId = Model.BoardId,
                                                             Value = column.Name
                                                         }); }


                        @{ await Html.RenderPartialAsync("_RemoveColumnPartial",
                                                         new RemoveColumnModel
                                                         {
                                                             BoardId = Model.BoardId,
                                                             ColumnId = column.Id
                                                         }); }
                    </div>

                    <div class="column" ondragover='onDragOver(event);' ondrop='onDrop(event, @column.Id);'>
                        <div class="record-padding" style="padding-top: 15px">
                        </div>
                        @if (column.Records != null)
                        {
                            foreach (var record in column.Records)
                            {
                                <div class="record-padding d-flex">
                                    <div class="record flex-grow-1" draggable='true' ondragstart='onDragStart(event, @record.Id);'>

                                        @{ await Html.RenderPartialAsync("_ChangeRecordPartial",
                                                                         new ChangeEntityModel
                                                                         {
                                                                             EntityId = record.Id,
                                                                             BoardId = Model.BoardId,
                                                                             Value = record.Value
                                                                         }); }

                                    </div>
                                    <div class="" style="border-radius: 5px">
                                        @{ await Html.RenderPartialAsync("_RemoveRecordPartial",
                                                                         new RemoveRecordModel
                                                                         {
                                                                             BoardId = Model.BoardId,
                                                                             RecordId = record.Id
                                                                         }); }
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    @{ await Html.RenderPartialAsync("_CreateRecordPartial",
                                                     new CreateRecordModel
                                                     {
                                                         ColumnId = column.Id,
                                                         BoardId = Model.BoardId
                                                     }); }
                </div>
            </div>
        }

        <div class="col-sm-3 column-margin">
            @{ await Html.RenderPartialAsync("_CreateColumnPartial", new CreateColumnModel {BoardId = Model.BoardId}); }
        </div>

    </div>
</div>

<div class="panel">
    <a class="handle unselectable" href="#"></a>
    <h3 class="text-center">
        Menu
    </h3>
    <hr>

    <span>
        <div class="panel-heading text-center">
            <h4>Colors</h4>
        </div>

        <span class="row">
            @foreach (var color in Model.Colors)
            {
                await Html.RenderPartialAsync("_ChangeBackgroundPartial",
                                              new ChangeBackgroundModel
                                              {
                                                  BoardId = Model.BoardId,
                                                  ImageId = color.Thumbnail.Id,
                                                  ImagePath = color.Thumbnail.Path
                                              });
            }
        </span>

        <div class="panel-heading text-center">
            <h4>Images</h4>
        </div>

        <span class="row">
            @foreach (var image in Model.Images)
            {
                await Html.RenderPartialAsync("_ChangeBackgroundPartial",
                                              new ChangeBackgroundModel
                                              {
                                                  BoardId = Model.BoardId,
                                                  ImageId = image.ThumbnailId,
                                                  ImagePath = image.Thumbnail.Path
                                              });
            }

            @{ await Html.RenderPartialAsync("_CreateBackgroundPartial",
                                             new CreateBackgroundModel
                                             {
                                                 BoardId = Model.BoardId,
                                                 Type = ImageType.Image
                                             }); }
        </span>

    </span>
</div>

</body>
<div>
    <script src="~/js/drag-and-drop.js" asp-append-version="true"></script>
    <script src="~/js/plugin-autoresize.js" asp-append-version="true"></script>
    <script src="~/js/slide-menu.js" asp-append-version="true"></script>
</div>
</html>