@using ToDo.Models.CreateEntity
@using ToDo.Models.RemoveEntity
@model ToDo.Models.Board.BoardModel
@{
    ViewData["Title"] = "Board";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div class="text-center">
    <h2>@Model.Name</h2>
    <hr>
</div>

<div class="">
    <div class="row main-container">
        @foreach (var column in Model.Columns)
        {
            <div class="col-sm-3 column-margin">
                <div class="column-col">
                    <h3 draggable="false" class="flex-row head-column text-center">@column.Name</h3>

                    <div id="column-@column.Id" class="column">

                        <div class="record-padding" ondragover='onDragOver(event);' ondrop='onDrop(event);'>
                        </div>
                        @if (column.Records != null)
                        {
                            foreach (var record in column.Records)
                            {
                                <div id="record-padding-@record.Id" class="record-padding d-flex" ondragover='onDragOver(event);' ondrop='onDrop(event);'>
                                    <div id="record-@record.Id" class="record flex-grow-1" draggable='true' ondragstart='onDragStart(event);'>
                                        @record.Value
                                    </div>
                                    @{ Html.RenderPartial("_RemoveRecordPartial", new RemoveRecordModel {BoardId = Model.BoardId, RecordId = record.Id}); }
                                </div>
                            }
                        }
                    </div>

                    @{ Html.RenderPartial("_CreateRecordPartial", new CreateRecordModel {ColumnId = column.Id, BoardId = Model.BoardId}); }
                </div>
            </div>
        }

        <div class="col-sm-3 column-margin">
            @{ Html.RenderPartial("_CreateColumnPartial", new CreateColumnModel {BoardId = Model.BoardId}); }
        </div>

    </div>
</div>

</body>
<div>
    <script src="~/js/site.js"></script>
</div>
</html>