@using ToDo.Models.CreateEntity
@model ToDo.Models.Board.AllBoardsModel
@{
    ViewData["Title"] = "Boards";
}

<!DOCTYPE html>

<html>
<head>

    <div class="container main-container">
        <div class="row">
            @foreach (var board in Model.Boards)
            {
                <div class="col-sm-3 board">
                    <a asp-controller="Board" asp-action="Board" asp-route-id="@board.Id">
                        <div class="board-container text-center">
                            @board.Name
                        </div>
                    </a>
                </div>
            }
            <div class="col-sm-3">
                @{ Html.RenderPartial("_CreateBoardPartial", new CreateBoardModel()); }
            </div>
        </div>
    </div>

</head>
<body>
<div>

</div>
</body>
</html>