@model ToDo.Models.Board.BoardModel

@{
    ViewData["Title"] = "Board";
}

<!DOCTYPE html>

<html>
<head>
    <div class="container">
        <div class="row">
            @foreach (var record in Model.Records)
            {
                <div class="container">
                    @record.Value
                </div>
            }

            <partial name="_CreateRecordPartial"/>
        </div>
    </div>
</head>
<body>
<div>

</div>
</body>
</html>
