@model ToDo.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <main role="main">

        <h1 class="text-center">Register</h1>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form id="registerForm" asp-antiforgery="true" method="post" asp-action="Register" novalidate="novalidate">
                    <h4 class="text-center">Create a new account.</h4>
                    <hr>
                    <div class="text-danger" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email</label>
                        <input class="form-control input-validation-error" asp-for="Email">
                        <span class="invalid-feedback" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input class="form-control" asp-for="Password">
                        <span class="invalid-feedback" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Confirm password</label>
                        <input class="form-control" asp-for="ConfirmPassword">
                        <span class="invalid-feedback" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </form>
            </div>
        </div>


    </main>
</head>
<body>

</body>
</html>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
