@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr>

<div style="font-size: 1.25rem">
    <p>
        What this policy covers
        Your privacy is important to us, and so is being transparent about how we collect, use, and share information about you. This policy is intended to help you understand:
    </p>
    <ul>
        <li>What information we collect about you</li>
        <li>How we use information we collect</li>
        <li>How we share information we collect</li>
    </ul>
    <br>

    <h3>What information we collect about you</h3>
    <p>
        What information we collect about you
        We collect information about you when you provide it to us, when you use our Services.
    </p>
    <br>

    <h3>How we use information we collect</h3>
    <p>
        How we use the information we collect depends in part on which Services you use, how you use them, and any preferences you have communicated to us.
    </p>
    <br>

    <h3>How we share information we collect</h3>
    <p>We make collaboration tools, and we want them to work well for you. This means sharing information through the Services and with certain third parties. We share information we collect about you in the ways discussed below, including in connection with possible business transfers. We are not in the business of selling information about you to advertisers or other third parties.</p>
    <br>

</div>