@{
    ViewData["Title"] = "StartPage";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div class="container-fluid text-center">
    <div class="mx-auto">
        <h3>Start Planning Today!</h3>
        <p>Sign up and try ToDo now.</p>
        <a class="nav-link text-dark" asp-controller="Authorization" asp-action="SignUp">
            <button class="btn btn-primary">Sign Up</button>
        </a>
    </div>
</div>
</body>
</html>
